*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;
}

:root{
--white-color:#eeecff;
--blue-color:#5846f9;
--dark-blue-color:#3f5468;
}
.ontainer-fluid {
    padding: 0;
}
.chero-heading{
    color: var(--dark-blue-color);
    text-align: center;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}
.hero-heading::after {
    content: "";
    position: absolute;
    bottom:0;
    left: 47%;
    width: 5%;
    height: 4px;  
    background-color: var(--blue-color); 
}

.card-style {
    border-radius: 8px;
    margin-bottom: 1.5rem;
}
.card-style:hover .icon,
.card-style:hover .hero-heading {
    background-color: var(--blue-color); /* Background color change */
    color: white; /* Text color change */
}
.heading{
    font-weight: bold;
    color: var(--dark-blue-color);
}

.text-muted {
    font-size: 0.8rem;
    color: #6c757d;
}

.icon {
    background-color: var(--white-color);
    width: 30%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--blue-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}




